
{% extends 'Navi_and_footer_template.html' %}

{% block body %}
    <meta charset="UTF-8">
    <title>Update Password</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/Group-css.css"/>

        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


            <div class="col-md-9  admin-content" id="change-password">
                <form action="/password" method="post">


				 <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="oldpassword" class="control-label panel-title" placeholder='Enter your old password'>Old Password</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="password" id="oldpassword" >
                                </div>
                            </div>

                        </div>

                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="new_password" class="control-label panel-title">New Password</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="password" id="new_password" >
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="confirm_password" class="control-label panel-title">Confirm password</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="password_confirmation" id="confirm_password" >
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>


        </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" ></label>
  <div class="col-md-4">
    <input type="button" onclick=window.open(href='/Confirmation','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false; class="btn btn-success" value="Update"> </a>
      <a href="#" class="btn btn-danger" value=""><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>

  </div>
</div>
{% endblock %}
