{% extends 'Navi_and_footer_template.html' %}
{% block body %}
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/Group-css.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Profile</title>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


<div class="col-md-9  admin-content" id="profile">
 <div class="form-group">
<label class="col-md-4 control-label" for="Name (Full name)">Name (Full name)</label>
  <div class="col-md-4">
 <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-user">
        </i>
       </div>
       <input id="Name (Full name)" name="Name (Full name)" type="text" placeholder="Tan Mei Lin Miranda" disabled>
      </div>
	  </div>
	  </div>

  </br>
  </br>

  <div class="form-group">
  <label class="col-md-4 control-label col-xs-12" for="Permanent Address">Change Address</label>
  <div class="col-md-4  col-xs-4">
  <input id="Permanent Address" name="Permanent Address" type="text" placeholder="Address" class="form-control input-md ">
  </div>

  <div class="col-md-2 col-xs-4">

  <input id="Permanent Address" name="Permanent Address" type="text" placeholder="Postal code" class="form-control input-md ">
  </div>


</div>
</br>
</br>

<div class="form-group">
  <label class="col-md-4 control-label" for="Phone number ">Update Phone number </label>
  <div class="col-md-4">
  <div class="input-group">
       <div class="input-group-addon">
     <i class="fa fa-phone"></i>

       </div>
    <input id="Phone number " name="Phone number " type="text" placeholder="Update Phone Number " class="form-control input-md">

      </div>

  </div>
</div>
</br>
</br>
<div class="form-group">
  <label class="col-md-4 control-label" for="Email Address">Email Address</label>
  <div class="col-md-4">
  <div class="input-group">
       <div class="input-group-addon">
     <i class="fa fa-envelope-o"></i>

       </div>
    <input id="Email Address" name="Email Address" type="text" placeholder="Email Address" class="form-control input-md">

      </div>

  </div>
</div>
</br>
</br>
                <div class="panel panel-info" style="margin: 1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Last Password Change</h3>

                    </div>
                    <div class="panel-body">
                        4 days Ago
                    </div>
                </div>

            </div>
<div class="form-group">
  <label class="col-md-4 control-label" ></label>
  <div class="col-md-4">
  <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Update</a>
  <a href="#" class="btn btn-danger" value=""><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>

  </div>
</div>
{% endblock %}